* {
	box-sizing: border-box;
}


body{
	background-color:magenta;
}

#message{
	background:lightblue;
	margin:5px;
	padding: 20px;
	line-height: 35px;

}

img {
	max-width: 98%;
}

#timage{
	display:grid;
	grid-column-gap: 20px;
	grid-template-columns: 33% 33% 33%; 
}
#plibrary{
	display:grid;
	background: blue;
	grid-column-gap: 20px;
	grid-template-columns: 33% 33% 30%; 
}

.center {
	text-align:center;	
}
#opening {
	font-size:50px;
	margin:5;
}
#about {
	font-size:30px;	
	margin:5;
}
#message {
	font-size:25px;
	margin:5;
}
.rotate {
	transform:rotate(90deg);
}

#playlist{
	background:turquoise;
}
#verticalone {
	max-height: 300px;
}
#verticaltwo {
	margin-top: 37px;
	max-height: 230px;
}
.rotatefull{
	transform:rotate(180deg);
}

#mphotos{
	background:blue;
}

.pcontainer {
	display:grid;
	background: blue;
	grid-column-gap: 20px;
	grid-template-columns: 32% 32% 32%; 
}

.move{
	margin-bottom:20px;
}
#info{
	font-size:24px;
}
#yup{
	display: flex;
}

#yup img, #yup iframe {
	max-height: 400px;
}

iframe {
	min-width: 600px;
	margin-left:200px;
}

#yup a {
	flex-basis: 50%;
}



@media (max-width:800px){
	.pcontainer, .plibrary, .timage {
		grid-template-columns:100%; 
	}
} 



